/*-- scss:rules --*/


h1 {
  margin-bottom: 0.2rem;
}

h2 {
  margin-top: 2rem;
  border-bottom: 2px solid #F5F5F5;
  padding-bottom: .3rem;
}

h3 {
  margin-bottom: .2rem;
}

p {
  line-height: 1.6;
}

hr {
  opacity: .2;
}

.grid {
  gap: 2rem;
}

.g-col-lg-4 {
  border-right: 6px solid #F5F5F5;
  padding-right: 2rem;
  position: sticky;
  top: 2rem;
  height: fit-content;
  // color: #FFFFF0;
}

.g-col-lg-8 {
  padding: 1rem 2rem;
  // color: #FFFFF0;
}

ul {
  margin-bottom: 1rem;
}

strong {
  color: #F5F5F5;
}

@media (max-width: 992px) {
  .g-col-lg-4 {
    position: relative;
    top: auto;
  }
}

/* Base font */
body {
  font-size: 0.85rem;      // ~15px
  line-height: 1.45;
}

/* Name */
h1 {
  font-size: 1.8rem;
  margin-bottom: 0.25rem;
  // color: #FFFFF0;
}

/* Section titles */
h2 {
  font-size: 1.05rem;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
  border-bottom: 2px solid #F5F5F5;
  padding-bottom: 0.25rem;
}

/* Job titles */
h3 {
  font-size: 0.95rem;
  margin-bottom: 0.2rem;
  
}

/* Paragraphs and lists */
p,
li {
  font-size: 0.85rem;
  line-height: 1.45;
}

ul {
  padding-left: 1.1rem;
  margin-bottom: 0.8rem;
}

/* Sidebar */
.g-col-lg-4 {
  font-size: 0.9rem;
}

.g-col-lg-4 h2 {
  font-size: 1rem;
}